<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhongjh.app">

    <application
        android:name=".phone.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullScreen">
        <activity
            android:name=".phone.load.LoadActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".phone.splash.AdvertisingActivity"
            android:theme="@style/Theme.MvvmDemo" />
        <activity
            android:name=".phone.privacypolicy.PrivacyPolicyActivity"
            android:theme="@style/Theme.MvvmDemo" />
        <activity
            android:name=".phone.main.MainActivity"
            android:theme="@style/Theme.MvvmDemo" />
        <activity
            android:name=".phone.search.SearchActivity"
            android:theme="@style/Theme.MvvmDemo" />
        <!-- 用于捕获app完全退出时，告知服务器该App退出 -->
        <service android:name=".service.KeepAliveService" />
    </application>

</manifest>